{% extends 'S2.html' %}

{% load crispy_forms_tags %}


{%block content%}



<body>

    <div class="container bg-light shadow-md p-5 ">

        <h3> UPDATE MEDICINE RECORD </h3>

        <hr>
        <br>

        <form method="POST">

            {% csrf_token %}

           
            <br>

            {{form.mname|as_crispy_field}}

            <br>

            {{form.desc|as_crispy_field}}

            <br>

            {{form.price|as_crispy_field}}

            <br>

            {{form.stock|as_crispy_field}}

            <br>

            
            <button type="submit" class="btn btn-primary w-100 btn-block p-2"> UPDATE &nbsp; <i class="fa fa-key" aria-hidden="true"></i> </button>




        </form>

        <br>




    </div>

    <br>

</body>








{%endblock%}